aside {
    grid-area: aside;
    z-index: 2;
    display: flex;
    flex-direction: column;
    gap: 0.125rem;
    height: 100vh;
}

@media (max-width: 768px) {
    aside {
        position: fixed;
        top: 0;
        width: 15rem;
        transform: translateX(-100%);
        transition: transform 0.3s ease-in-out;
    }

    aside.active {
        transform: translateX(0);
    }
}

.aside-head {
    flex: 0 0 auto;
    height: 2rem;
    background-color: rgb(154, 129, 221);
    box-shadow:
        -0.25rem 0 0 -0.125rem var(--color-stroke-purple), 0.25rem 0 0 -0.125rem var(--color-stroke-purple),
        0 -0.25rem 0 -0.125rem var(--color-stroke-purple), 0 0.25rem 0 -0.125rem var(--color-stroke-purple),
        0 -0.125rem 0 0 var(--color-stroke-purple), 0 0.125rem 0 0 var(--color-stroke-purple),
        -0.125rem 0 0 0 var(--color-stroke-purple), 0.125rem 0 0 0 var(--color-stroke-purple);
    align-content: center;
}

.aside-head .aside-btn {
    padding: 0.125rem;
    margin-left: 0.3125rem;
    border-color: var(--color-stroke-purple);
    height: 1.25rem;
    width: 1.25rem;
}

.aside-main {
    flex: 1;
    display: flex;
    flex-direction: column;
    min-height: 0;
    box-shadow:
        0.25rem 0.125rem 0 0 var(--color-stroke-purple),
        0.375rem 0.25rem 0 0 var(--color-stroke-purple),
        0.5rem 0.375rem 0 0 var(--color-stroke-purple);
    background: linear-gradient(to bottom,
            #ffeef5 0%,
            #eef6ff 100%);
}

.avatar-1 {
    height: 10rem;
    box-shadow:
        -0.25rem 0 0 -0.125rem var(--color-stroke-purple), 0.25rem 0 0 -0.125rem var(--color-stroke-purple),
        0 -0.25rem 0 -0.125rem var(--color-stroke-purple), 0 0.25rem 0 -0.125rem var(--color-stroke-purple),
        0 -0.125rem 0 0 var(--color-stroke-purple), 0 0.125rem 0 0 var(--color-stroke-purple),
        -0.125rem 0 0 0 var(--color-stroke-purple), 0.125rem 0 0 0 var(--color-stroke-purple);
    background: linear-gradient(to bottom,
            #ffeef5 0%,
            #eef6ff 100%);
    position: relative;
}

.avatar-2 {
    height: 100%;
    width: 100%;
    border: solid 0.25rem;
    border-top: 0;
    border-color: var(--color-bg-purple);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.avatar-3 {
    height: 100%;
    width: 100%;
    border: solid 0.1875rem;
    border-top: 0;
    border-color: var(--color-stroke-purple);
}

.avatar-gif {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: 130%;
    transform: translateY(-2.9rem);
    z-index: 0;
}

nav {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-end;
    box-shadow:
        -0.25rem 0 0 -0.125rem var(--color-stroke-purple), 0.25rem 0 0 -0.125rem var(--color-stroke-purple),
        0 -0.25rem 0 -0.125rem var(--color-stroke-purple), 0 0.25rem 0 -0.125rem var(--color-stroke-purple),
        0 -0.125rem 0 0 var(--color-stroke-purple), 0 0.125rem 0 0 var(--color-stroke-purple),
        -0.125rem 0 0 0 var(--color-stroke-purple), 0.125rem 0 0 0 var(--color-stroke-purple);
}

nav a {
    display: block;
    font-size: 1rem;
    width: 100%;
    padding: 0.75rem 1.25rem 0.75rem 0.625rem;
    text-align: right;
    transform: translateX(-100%);
    animation-duration: 0.4s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
    animation-name: slideIn;
    animation-delay: calc(var(--i) * 0.05s);
}

nav a:hover {
    font-weight: bold;
}

nav a::before {
    content: '>';
    position: absolute;
    left: 0.5rem;
    opacity: 0;
    transition: all 0.3s ease;
    transform: translateX(-5px);
}

nav a:hover::before {
    opacity: 1;
    transform: translateX(0);
}

.player {
    padding-bottom: 1rem;
}

.player button {
    all: unset;
    cursor: pointer;
}

.player button:hover {
    transform: translate(.05rem, .05rem);
}

.player button:active {
    transform: translate(.2rem, .2rem);
}


.player-head {
    height: 2rem;
    padding: 2rem;
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 1.1rem;
    font-weight: bold;
}

.player-head::before {
    content: "⌈ ";
    white-space: pre;
    flex-shrink: 0;
}

.player-head::after {
    content: " ⌋";
    white-space: pre;
    flex-shrink: 0;
}

.player-head span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    flex-grow: 1;
    min-width: 0;
}

.player .control {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;
    max-width: 100%;
}

.player img {
    height: 2rem;
    object-fit: contain;
}

.player #pre-btn {
    transform: scaleX(-1);
}

.playlist {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex: 1;
    min-height: 0;
    overflow-y: auto;
    width: 100%;
    padding: 1rem 0;
}

.playlist a {
    display: flex;
    position: relative;
    padding: 0 1.5rem;
    transform: translateX(-100%);
    animation-duration: 0.4s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}

.playlist.active a {
    opacity: 1;
    animation-name: slideIn;
    animation-delay: calc(var(--i) * 0.05s);
}

.playlist.inactive a {
    opacity: 0;
    animation-name: slideOut;
}

.playlist a:hover {
    font-weight: bold;
}

.playlist a::before {
    content: '>';
    position: absolute;
    left: 0.5rem;
    opacity: 0;
    transition: all 0.3s ease;
    transform: translateX(-5px);
}

.playlist a:hover::before {
    opacity: 1;
    transform: translateX(0);
}

.playlist .tracklist-duration {
    margin-left: auto;
}