.header-left {
    grid-area: header1;
    background-color: rgb(154, 129, 221);
    box-shadow:
        -0.25rem 0 0 -0.125rem var(--color-stroke-purple), 0.25rem 0 0 -0.125rem var(--color-stroke-purple),
        0 -0.25rem 0 -0.125rem var(--color-stroke-purple), 0 0.25rem 0 -0.125rem var(--color-stroke-purple),
        0 -0.125rem 0 0 var(--color-stroke-purple), 0 0.125rem 0 0 var(--color-stroke-purple),
        -0.125rem 0 0 0 var(--color-stroke-purple), 0.125rem 0 0 0 var(--color-stroke-purple);
    display: grid;
    align-content: center;
    justify-content: start;
    z-index: 5;
}

.header-right {
    grid-area: header2;
    background-color: rgb(154, 129, 221);
    box-shadow:
        -0.25rem 0 0 -0.125rem var(--color-stroke-purple), 0.25rem 0 0 -0.125rem var(--color-stroke-purple),
        0 -0.25rem 0 -0.125rem var(--color-stroke-purple), 0 0.25rem 0 -0.125rem var(--color-stroke-purple),
        0 -0.125rem 0 0 var(--color-stroke-purple), 0 0.125rem 0 0 var(--color-stroke-purple),
        -0.125rem 0 0 0 var(--color-stroke-purple), 0.125rem 0 0 0 var(--color-stroke-purple),
        0.125rem 0.25rem 0 0 var(--color-stroke-purple), 0.25rem 0.375rem 0 0 var(--color-stroke-purple),
        0.375rem 0.5rem 0 0 var(--color-stroke-purple);
    z-index: 5;
}

.header-left .header-btn {
    padding: 0.125rem;
    margin-left: 0.3125rem;
    border-color: var(--color-stroke-purple);
    height: 1.25rem;
    width: 1.25rem;
}

aside {
    grid-area: aside;
    z-index: 5;
    display: flex;
    flex-direction: column;
    gap: 0.125rem;
    box-shadow:
        0.25rem 0.125rem 0 0 var(--color-stroke-purple),
        0.375rem 0.25rem 0 0 var(--color-stroke-purple),
        0.5rem 0.375rem 0 0 var(--color-stroke-purple);
}

.avatar-1 {
    width: 100%;
    height: 10rem;
    box-shadow:
        -0.25rem 0 0 -0.125rem var(--color-stroke-purple), 0.25rem 0 0 -0.125rem var(--color-stroke-purple),
        0 -0.25rem 0 -0.125rem var(--color-stroke-purple), 0 0.25rem 0 -0.125rem var(--color-stroke-purple),
        0 -0.125rem 0 0 var(--color-stroke-purple), 0 0.125rem 0 0 var(--color-stroke-purple),
        -0.125rem 0 0 0 var(--color-stroke-purple), 0.125rem 0 0 0 var(--color-stroke-purple);
}

.avatar-2 {
    height: 100%;
    border: solid 0.25rem;
    border-top: 0;
    border-color: var(--color-bg-purple);
}

.avatar-3 {
    height: 100%;
    border: solid 0.1875rem;
    border-top: 0;
    border-color: var(--color-stroke-purple);
    display: flex;
    justify-content: center;
    background: linear-gradient(to bottom,
            #ffeef5 0%,
            #eef6ff 100%);
}

.avatar-png {
    height: 130%;
    transform: translateY(-2.6rem);
}

nav {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-end;
    box-shadow:
        -0.25rem 0 0 -0.125rem var(--color-stroke-purple), 0.25rem 0 0 -0.125rem var(--color-stroke-purple),
        0 -0.25rem 0 -0.125rem var(--color-stroke-purple), 0 0.25rem 0 -0.125rem var(--color-stroke-purple),
        0 -0.125rem 0 0 var(--color-stroke-purple), 0 0.125rem 0 0 var(--color-stroke-purple),
        -0.125rem 0 0 0 var(--color-stroke-purple), 0.125rem 0 0 0 var(--color-stroke-purple);
}

nav a {
    display: block;
    font-size: 1rem;
    line-height: 1.5;
    width: 100%;
    padding: 0.75rem 1.25rem 0.75rem 0.625rem;
    margin-bottom: 0.5rem;
    text-align: right;
}

nav a:hover {
    background-color: rgb(154, 129, 221, 0.1);
}

.player-head {
    height: 2rem;
    margin: 1rem;
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 1.1rem;
    font-weight: bold;
}

.player-head::before {
    content: "⌈ ";
    white-space: pre;
    flex-shrink: 0;
}

.player-head::after {
    content: " ⌋";
    white-space: pre;
    flex-shrink: 0;
}

.player-head span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    flex-grow: 1;
    min-width: 0;
}

.player .control {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;
    max-width: 100%;
}

.player img {
    height: 2rem;
    object-fit: contain;
}

.player #pre {
    transform: scaleX(-1);
}