@keyframes popup {
    0% {
        transform: scale(0);
        opacity: 0;
    }

    60% {
        transform: scale(1.02);
        opacity: 1;
    }

    100% {
        transform: scale(1);
    }
}

#desktop {
    z-index: 9;
}

.card {
    pointer-events: none;
}

.card>* {
    pointer-events: all;
}

video {
    max-height: 80vh;
}

.modal {
    background-color: rgba(255, 255, 255, 0.85);
    backdrop-filter: blur(0.3125rem);
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    height: fit-content;
    width: fit-content;
    max-width: 90vw;
    max-height: 90vh;
    display: flex;
    flex-direction: column;
    gap: 0.125rem;
    z-index: 1000;
    color: #4A3E56;
    box-shadow:
        -0.25rem 0 0 -0.125rem #db7a9e,
        0.25rem 0 0 -0.125rem #db7a9e,
        0 -0.25rem 0 -0.125rem #db7a9e,
        0 0.25rem 0 -0.125rem #db7a9e,
        0 -0.125rem 0 0 #db7a9e,
        0 0.125rem 0 0 #db7a9e,
        -0.125rem 0 0 0 #db7a9e,
        0.125rem 0 0 0 #db7a9e,
        0.25rem 0.125rem 0 0 #bf6b8a,
        0.375rem 0.25rem 0 0 #bf6b8a,
        0.5rem 0.375rem 0 0 rgba(0, 0, 0, 0.1);
    animation: popup 0.3s forwards;
}

.modal .modal-bar {
    position: sticky;
    background-color: #fff4f7;
    background-image:
        repeating-radial-gradient(circle at 0 0, rgba(255, 255, 255, 0.05) 0%, transparent 1%),
        repeating-radial-gradient(circle at 100% 100%, rgba(0, 0, 0, 0.1) 0%, transparent 1%);
    background-size: 0.1875rem 0.1875rem;
    box-shadow:
        0 0.25rem 0 -0.125rem #db7a9e,
        0 0.125rem 0 0 #db7a9e;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.modal .modal-title {
    font-family: "WuWa Lahai-Roi";
    padding: 1rem;
    margin: 0;
    color: #db7a9e;
}

.modal .modal-btn {
    position: absolute;
    right: 0.625rem;
    aspect-ratio: 1 / 1;
    padding: 0;
    border-color: #db7a9e;
    color: #db7a9e;
    font-size: 1.5rem;
}

.modal .modal-main {
    margin: 1rem;
    flex-grow: 1;
    overflow-y: auto;
}

.modal .modal-main hr {
    border: .05rem solid #db7a9e;
}

.modal .media {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 1rem;
    gap: 2rem;
}

.modal .media video {
    width: 100%;
    height: 100%;
    max-height: 70vh;
    object-fit: contain;
}

.modal .media img {
    width: 100%;
    height: 100%;
    max-height: 70vh;
    object-fit: contain;
}

.detail-hero {
    width: 100%;
    min-height: 15.625rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1.875rem;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
}

.detail-hero button {
    color: #db7a9e;
    font-family: "Dotted Songti Square";
    background: none;
    font-size: 1.6rem;
    font-weight: bold;
    margin-top: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    padding: .2rem .9rem;
    outline: .125rem solid #db7a9e;
    outline-offset: .15rem;
    border: .0625rem dashed #db7a9e80;
}

.detail-hero button:hover {
    transform: translate(.05rem, .05rem);
}

.detail-hero button:active {
    transform: translate(.2rem, .2rem);
}

.hero-cover {
    flex: 0 0 14.5833rem;
    height: 14.5833rem;
    box-shadow: .5rem .5rem 0 0 #db7a9e80;
    ;
}

.hero-info {
    flex: 1 1 15.625rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.hero-info h1 {
    margin: 0;
}

.hero-info p {
    margin: 0;
}

.modal-main blockquote {
    white-space: pre-wrap;
    display: inline-block;
    border-left: 0.25rem solid #db7a9e;
    padding-left: 1rem;
    margin: 0;
}

.detail-track {
    font-size: 1.1rem;
}

.track-item {
    margin: 1rem;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.track-item:hover {
    font-weight: bold;
}

.track-item::before {
    content: '>';
    position: absolute;
    left: 0.5rem;
    opacity: 0;
    transition: all 0.3s ease;
    transform: translateX(-5px);
}

.track-item:hover::before {
    opacity: 1;
    transform: translateX(0);
}

.play-btn {
    all: unset;
    font-family: "WuWa Lahai-Roi";
}

.track-title {
    padding-left: 2rem;
}

.track-duration {
    margin-left: auto;
}

@media (max-width: 768px) {
    .modal {
        max-width: 95vw;
    }

    .modal .modal-main h1 {
        font-size: calc(100vw / 15);
    }

    .modal .modal-main {
        margin: .5rem;
    }
}