#waline {
    padding: 1rem .5rem 3rem 1rem;
    width: min(52rem, calc(100vw));
    align-self: center;
    flex: 1;
    min-height: 0;
    display: flex;
    flex-direction: column;
    overflow-y: auto !important;
}

#waline div {
    opacity: 0;
    transform: translateY(5%);
}

section.active:not(.waiting) #waline div {
    pointer-events: auto;
    animation: slideUpLight 0.5s ease forwards;
}

.wl-user {
    position: relative;
    display: inline-block;
}

.wl-user-avatar {
    display: block;
    z-index: 0;
}

.wl-user::after {
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    aspect-ratio: 1 / 1;
    background: url('@/assets/images/post_avatar_bg.png') no-repeat center/cover;
    pointer-events: none;
    z-index: 1;
}

.wl-header-item:has(#wl-link) {
    display: none !important;
}

.wl-meta {
    display: none;
}