#info {
    padding-left: 2rem;
}

.info-card {
    position: absolute;
    top: calc(100vh / 4);
}

.info-card > * {
    opacity: 0;
    transform: translateY(5%);
}

section.active:not(.waiting) .info-card > * {
  animation: slideUpLight 0.5s ease forwards;
}

.main-title {
    font-family: "WuWa Lahai-Roi";
    font-size: min(5rem, calc(100vw / 8));
    color: var(--color-stroke-pink);
}

/* social links*/
.social-icons a {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    background-size: 100% 100%;
}

.social-icons #kurobbs {
    background-image: url(@/assets/icons/kjq-icon.png);
}

.social-icons #bili {
    background-image: url(@/assets/icons/bilibili-icon.png);
}

.social-icons #weibo {
    background-image: url(@/assets/icons/wb-icon.png);
}

.social-icons #facebook {
    background-image: url(@/assets/icons/fb-icon.png);
}

.social-icons #netease {
    background-image: url(@/assets/icons/netease-icon.png);
}