section {
    grid-area: section;
    padding-top: 2rem;
    height: 100vh;
    gap: 1rem;
    z-index: 0;
    display: flex;
    flex-direction: column;
    background-color: #fdfbf7;
    background-image:
        linear-gradient(rgba(180, 160, 120, 0.15) 0.05rem, transparent 0.05rem),
        linear-gradient(90deg, rgba(180, 160, 120, 0.15) 0.05rem, transparent 0.05rem);
    background-size: 1.5625rem 1.5625rem;
    background-attachment: fixed;
}

section.active {
    z-index: 1;
    opacity: 1;
}

@media (max-width: 768px) {
    section {
        max-width: 100vw;
    }
}

.head {
    padding-left: 3.5rem;
    opacity: 0;
    transform: translateY(5%);
}

section.active:not(.waiting) .head {
    animation: slideUpLight 0.8s ease forwards;
    animation-delay: 0.3s;
}

.head .subtitle {
    font-family: "WuWa Lahai-Roi";
    font-size: 2.5rem;
}

.work-list,
.post-list {
    height: 100%;
    width: 100%;
    overflow-y: auto;
    position: relative;
    padding: 1rem 1rem 1rem 3.75rem;
    background:
        linear-gradient(var(--color-stroke-purple) 0 0) 30px 0 / 4px 100% no-repeat;
}

.work-item,
.post-item {
    position: relative;
    margin-bottom: 40px;
    padding: 16px;
    box-shadow:
        0 -2px 0 0 var(--color-stroke-purple),
        0 2px 0 0 var(--color-stroke-purple),
        -2px 0 0 0 var(--color-stroke-purple),
        2px 0 0 0 var(--color-stroke-purple),
        6px 6px 0 0 var(--color-bg-purple);
    animation-duration: 0.4s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
    opacity: 0;
    transform: translateY(30%);
}

section.active:not(.waiting) .work-item,
section.active:not(.waiting) .post-item {
    pointer-events: auto;
    animation-name: slideUp;
    animation-delay: calc(var(--i) * 0.1s);
}

.work-item::before,
.post-item::before {
    content: "";
    position: absolute;
    left: -34px;
    top: 10px;
    width: 12px;
    height: 12px;
    background: var(--color-stroke-pink);
    ;
    box-shadow:
        0 -2px 0 0 var(--color-stroke-purple),
        0 2px 0 0 var(--color-stroke-purple),
        -2px 0 0 0 var(--color-stroke-purple),
        2px 0 0 0 var(--color-stroke-purple);

}