.work-banner img {
    width: 60%;
    height: auto;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.work-item {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

@media (max-width: 768px) {
    .work-item {
        flex-direction: column;
    }
}

.work-item .work-cover {
    flex-shrink: 0;
    width: 10rem;
}

.work-item .work-meta {
    align-content: center;
}

.work-item .work-tag {
    font-size: .9rem;
    font-style: italic;
}