/* global */
html,
body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    font-size: max(calc(100vw / 96), 16px);
    font-family: "FixEllipsis", "Dotted Songti Square", PingFang SC, HarmonyOS_Regular, Helvetica Neue, Microsoft YaHei, sans-serif;
    overflow-y: hidden;
    display: grid;
    grid-template-rows: 2rem 1fr;
    grid-template-columns: 15rem 1fr;
    grid-template-areas:
        "header1 header2"
        "aside  section";
    gap: 0.125rem;
    color: var(--color-stroke-purple);
}

* {
    box-sizing: border-box;
}

section img,
header img {
    max-width: 100%;
    height: auto;
    user-select: none;
    pointer-events: none;
}

a,
a:visited {
    color: inherit;
    text-decoration: none;
}

button {
    border-width: .125rem;
}
