/* global */
html,
body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    font-size: max(calc(100vw / 96), 16px);
    font-family: "FixEllipsis", "Dotted Songti Square", PingFang SC, HarmonyOS_Regular, Helvetica Neue, Microsoft YaHei, sans-serif;
    overflow: hidden;
    display: grid;
    grid-template-rows: 2rem 1fr;
    grid-template-columns: 15rem 1fr;
    grid-template-areas:
        "aside header"
        "aside  section";
    transition: grid-template-columns 0.3s ease;
    gap: 0.125rem;
    color: var(--color-stroke-purple);
}

@media (max-width: 768px) {

    html,
    body {
        grid-template-columns: 1fr;
        grid-template-rows: 2rem 1fr;
        grid-template-areas:
            "header"
            "section";
        transition: grid-template-columns 0.3s ease;
    }
}

* {
    box-sizing: border-box;
    scrollbar-width: none;
}

section img,
aside img,
header img {
    max-width: 100%;
    height: auto;
    user-select: none;
    pointer-events: none;
}

a,
a:visited {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

button {
    border-width: .125rem;
}